*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
background-color: rgb(250, 246, 240);
background-size: cover;
background-position: center;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
.menu-bar
{
    background: #62befb;
}
.menu-bar .fa{
    margin-right: 8px;
}
nav
{
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: left;
}
nav ul
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li
{
    margin-right: 40px;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
nav ul li a
{
    text-decoration: none;
    color:#020283;
}

nav ul li a:hover{
    color: #efefef;
}
.active, nav ul li:hover
{
    background: #599eff;
    border-radius:3px;

}
.btn
{
    width: 150px;
    height: 50;
    background-color: #020283;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    transition: 0.5s;
    color: #fff;
}
.btn:hover
{
    background-color: #fff;
    color: #5bb0f1;
}
.container
{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}
.container h1{
    text-align: center;
    padding-top: 8%;
    margin-bottom: 70px;
    font-weight: 600;
    position: relative;
}
.container h1::after
{
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.row
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.service
{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}
.service i
{
    font-size: 40px;
    margin-bottom: 10px;
    color: #020283;
}
.service h2{
    font-weight: 600;
    margin-bottom: 8px;
}
.service:hover{
    background: #020283;
    color: #fff;
    transition: scale(1.05);
}
.service:hover i{
    color: #fff;
}