*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
background-color: rgb(250, 246, 240);
background-size: cover;
background-position: center;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
.menu-bar
{
    background: #62befb;
}
.menu-bar .fa{
    margin-right: 8px;
}
nav
{
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: left;
}
nav ul
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li
{
    margin-right: 40px;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
nav ul li a
{
    text-decoration: none;
    color:#020283;
}

nav ul li a:hover{
    color: #efefef;
}
.active, nav ul li:hover
{
    background: #599eff;
    border-radius:3px;

}
.btn
{
    width: 150px;
    height: 50;
    background-color: #020283;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    transition: 0.5s;
    color: #fff;
}
.btn:hover
{
    background-color: #fff;
    color: #5bb0f1;
}
#feature
{
    width: 100%;
    padding: 220px 0;
    padding-top: 5%;
}
.title-text
{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p
{
    margin: auto;
    font-size: 20px;
    color:#009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
 }
.title-text p::after
{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#ffae42,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
 }
.title-text h1{
    font-size: 50px;
 }
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
 }
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
 }
.feature-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font: arial;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
     font-size: 30px;
     line-height: 50px;
     border-radius: 8px;
    color: #009688;
     border: 1px solid #009688;
   }
   @media screen and (max-width: 770px){
     .title-text h1{
     font-size: 35px;
     }
     .features{
     flex-basis: 100%;
   }
     .features-img{
    flex-basis: 100%;
     }
     .features-img img{
    width: 100%;
    }
 }
    